<div class="login-container">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <div class="avatar-frame-offline marto15 marbo15">
          <img src="assets/img/generic_avatar.png" class="avatar-image img-fluid">
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="center">
          <h3>Iniciar Sesión</h3>
        </div>
        <p *ngIf="operation == 'register'">Ya tienes cuenta? Has <a (click)="operation = 'login'">Login</a></p>
        <p *ngIf="operation == 'login'">No tienes cuenta? <a (click)="operation = 'register'">Registrarse</a></p>
        <div class="bordered-container">
          <input class="form-control marbo15" type="email" placeholder="Ingresa Email">
          <input class="form-control marbo15" type="password" placeholder="Ingresa Contraseña">
          <input *ngIf="operation == 'register'" class="form-control marbo15" type="text" placeholder="Ingresa Nick">
        </div>
        <div class="center marto15">
          <a *ngIf="operation == 'login'" class="btn btn-primary btn-container">Iniciar Sesión</a>
          <a *ngIf="operation == 'register'" class="btn btn-primary btn-container">Registrarme</a>
        </div>
      </div>
    </div>
  </div>
</div>
